.cert

# Hidden directories
.*/

# VSCode
!.vscode/*.code-snippets

# Nodejs
node_modules

# Composer
vendor

# Project
logs
public
.env
Todo*
README.html
.abstraction.config.js

# Files
**/*.tgz
**/*.zip
