<main class="page__content">
   This is main content.

   <a href="{% static 'docs/pdf-test-document.pdf' %}" class="link">PDF Document</a>
   <a href="{% static './docs/word-test-document.docx' %}" class="link">Word Document</a>
</main>
