{
	"extends": [
		"stylelint-config-recommended-scss"
	],
	"ignoreFiles": [
		"**/node_modules/**"
	],
	"rules": {
		"no-descending-specificity": null,
		"scss/comment-no-empty": null,
		"no-duplicate-selectors": null
	}
}
