<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Purge CSS</title>
   </head>
   <body>
      <div class="keep">
         Text.</div>
      <div is="id-to-keep">
         Class "keep-js" added with JS.</div>
      <div class="add-with-js">
         Class "keep-js" added with JS.</div>
   </body>
</html>
